public/app/main/main.html
<div class="container"><div class="jumbotron"><h1>MultiViesion</h1><p>Welcome to MultiVision! The best company to bring noobs like u together and drewl over this awesome website made by me(batman)!</p></div><div class="row"><div class="col-md-6"><div ng-include="'/partials/main/featured-courses'"></div></div><div class="col-md-6"><div ng-include="'/partials/main/new-courses'"></div></div></div></div>

public/app/main/main.jade
.container
    .jumbotron
        h1 MultiVision
        p Welcome to MultiVision! The best company to bring noobs like u together and fall over from this awesome website made by me(batman)!

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
